@media (min-width: 700px) {
    .nav-item{
        border: 3px solid rgb(255, 255, 255);
        border-radius: 15px;
        padding: 0;
        margin: 10px auto;
        margin-right: 30px;
        text-align: center;
        width: 110px;
        background-color: black;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90% !important;
    }
    .container-wrapper {
        display: block !important;
    }
    .container, .containerN, .container-night, .containerN-night, #titkositott, #titkositatlan {
        width: 90% !important;
        margin: auto;
    }
    #ver {
        width: 70% !important;
    }
}

body {
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

h1
{
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}

h5 {
    margin-bottom: 20px;
}

#versionKey {
    text-align: center;
}

.container, .containerN {
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px #000;
    background-color: rgba(255,255,255, 0.7);
    width: 75%;
    border-radius: 15px;
    padding: 15px;
    margin: 25px auto;
}

.container-night, .containerN-night {
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 1px #fff;
    box-shadow: 5px 5px 5px #fff;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 75%;
    border-radius: 15px;
    padding: 15px;
    margin: 25px auto;
}

.containerN {
    width: 50%;
    margin: 25px auto;
    display: flex;
    align-items: center;
}

.containerN-night {
    width: 50%;
    margin: 25px auto;
    display: flex;
    align-items: center;
}

#container {
    width: 50%;
}

#titkositott, #titkositatlan {
    width: 40%;
}

.container-wrapper {
    display: flex;
    justify-content: center;
}

li {
    margin: 0 auto;
    text-align: justify;
    font-weight: bold;
    list-style: none;
    padding-left: 20px;
}

p {
    font-size: 17px;
    margin: 5px auto;
    text-align: right;
    font-weight: bold;
}

h3 {
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
}

#ver {
    border: 3px solid rgb(0,0,0);
    border-radius: 15px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: 30%;
    background-color: rgba(255,255,255, 0.7);
    box-shadow: 5px 5px 5px #000;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
    padding: 10px;
}

td {
    width: 50%;
}