/*@font-face {
    font-family: 'Fortnite';
    src: url('font/BurbankBigCondensed-Black.otf');
}*/
  
body {
    background-image: url("https://cdn2.unrealengine.com/t-bp23-lobby-2048x1024-2048x1024-26f2c1b27f63.png");
    background-color: #000000;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h4, h1 {
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.container {
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px #000000;
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    border-radius: 15px;
    padding: 15px;
    margin: 25px auto;
}

p{
    font-size: 32px;
    margin: 0 auto;
    font-weight: bold;
    padding: 10px;
}

#progressBorder {
    margin: auto;
    border: 5px solid black;
    text-align: center;
}

#progressBar {
    color: white;
    background-color: rgb(35, 86, 252);
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
}
li {
    margin: 0 auto;
    text-align: justify;
    font-weight: bold;
    list-style: none;
    padding-left: 20px;
}